<p><%= total_user %></p>
<p>
  <h3><strong>Title:</strong>
  <%= @article.title %></h3>
</p>
 
<p>
  <h4><strong>Text:</strong>
  <%= @article.text %></h4>
</p>
<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    
    <%= comment.commenter %> says:
  </p>
 <p><%= comment.created_at %></p>
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
  <p>
  <%= link_to 'Delete Comment', [comment.article, comment], method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
<% end %>
 
<h2>Add a comment:</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Back', articles_path %>
| <%= link_to 'Edit', edit_article_path(@article) %>